:root {
  font-size: 16px;
  --bg-color: rgb(255, 213, 0);
  --dark-gray: #121212;
  --yellow-color: rgb(255, 190, 0);
  --light-gray: hsl(0, 0%, 42%);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  min-height: 100vh;
}

header {
  padding: 1.5rem;
}
footer {
  padding: 1.5rem;
}
main {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  color: var(--dark-gray);
  font-size: 1.5rem;
}

h2:hover {
  color: var(--yellow-color);
  cursor: pointer;
}
.text-container span {
  width: 6.5rem;
  background-color: var(--yellow-color);
  padding: 0.3rem;
  border-radius: 5px;
  margin: 0.3rem 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  color: var(--dark-gray);
}
.text p {
  color: var(--light-gray);
  font-size: 1rem;
}
h3 {
  font-size: 1.5rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 1.2rem;
  height: 30rem;
  width: 20rem;
  border-radius: 0.6rem;
  box-shadow: 0.5rem 0.5rem 0.3rem hsl(0, 0%, 7%);
  background-color: white;
  text-align: left;
  border: 1px solid var(--dark-gray);
}

.avatar {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  align-items: center;
}
.avatar p {
  color: var(--dark-gray);
  font-weight: bold;
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.img-container img {
  width: 100%;
}
.avatar img {
  height: 3rem;
  width: 3rem;
}
