* {
  box-sizing: border-box;
}
body {
  font-family: "Figtree";
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  min-height: 100vh;
}

header {
  padding: 25px;
}
footer {
  padding: 25px;
}
main {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  color: hsl(0, 0%, 7%);
  font-size: 22px;
}

h2:hover {
  color: rgb(255, 190, 0);
  cursor: pointer;
}
.text-container span {
  width: 102px;
  background-color: rgb(255, 190, 0);
  padding: 5px;
  border-radius: 5px;
  margin: 4px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

p {
  font-size: 16px;
  color: hsl(0, 0%, 7%);
}
.text p {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
}
h3 {
  font-size: 22px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0px 20px;
  height: 470px;
  width: 310px;
  border-radius: 10px;
  box-shadow: 7px 7px 5px hsl(0, 0%, 7%);
  background-color: white;
  text-align: left;
  border: 1px solid #111111;
}

.avatar {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.avatar p {
  color: #111111;
  font-weight: bold;
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.img-container img {
  width: 100%;
}
.avatar img {
  height: 45px;
  width: 45px;
}
